In [1]:
import pandas as pd

In [22]:
data = pd.read_csv('Datas/total-electricity-consumption-us.csv', sep = ',', header = None)

In [23]:
import matplotlib.pyplot as plt

In [24]:
from sklearn.preprocessing import PolynomialFeatures

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
from sklearn.pipeline import Pipeline
from sklearn import metrics

In [28]:
data.head()

      0            1
0  Year  Consumption
1  1920        57125
2  1921        53656
3  1922        61816
4  1923        72113

In [9]:
data.shape

(52, 2)

In [10]:
data.isnull().values.any()

False

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
0    52 non-null object
1    52 non-null object
dtypes: object(2)
memory usage: 912.0+ bytes

In [30]:
data.describe()

           0       1
count     52      52
unique    52      52
top     1938  143375
freq       1       1

In [31]:
# Data Cleaning

In [32]:
data.isnull().sum()*100/data.shape[0]

0    0.0
1    0.0
dtype: float64

In [33]:
# EDA

In [37]:
import seaborn as sns
sns.factorplot(x = 'Year', y = 'Consumption', data = data)

ValueError: Could not interpret input 'Year'

In [38]:
# Model Building

In [39]:
size = len(data.index)
index = range(0, size, 5)

train = data[~data.index.isin(index)]
test = data[data.index.isin(index)]

In [40]:
print(len(train))
print(len(test))

41
11

In [43]:
X_train = train.Year.values.reshape(-1, 1)
y_train = train.Consumption

SyntaxError: invalid syntax (<ipython-input-43-01cc2cfa8f6e>, line 1)

In [44]:
X_train = train.Year.values.reshape(-1,1) #Making X two dimensional
y_train = train.Consumption

X_test = test.Year.values.reshape(-1,1) #Making X two dimensional
y_test = test.Consumption

AttributeError: 'DataFrame' object has no attribute 'Year'