In [1]:
import numpy as np
import pandas as pd

In [2]:
advertising = pd.read_csv('datas/advertising.csv')

In [3]:
advertising.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [4]:
x_news = advertising['Newspaper']
y_news = advertising['Sales']

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_test, X_train, y_test, y_train = train_test_split(x_news, y_news, train_size = 0.7, random_state = 110)

In [7]:
X_test = X_test[:, np.newaxis]
X_train = X_train[:, np.newaxis]

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
lm = LinearRegression()

In [10]:
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
y_pred = lm.predict(X_test)

In [12]:
from sklearn.metrics import mean_squared_error, r2_score

In [13]:
mse = mean_squared_error(y_test, y_pred)

In [14]:
r_squared = r2_score(y_test, y_pred)

In [15]:
print("Mean_Squared_Error :", mse)
print("R_Squared :", r2_score)

Mean_Squared_Error : 29.4742588608982
R_Squared : <function r2_score at 0x0000021AC4C72E58>