In [2]:
batch = "3 oranges 1 apple"
fruits = batch[ :9]
print(fruits)

3 oranges

In [3]:
print(batch[ :5])

3 ora

In [4]:
fruits = batch[8:-2]
print(fruits)

s 1 app

In [5]:
nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [6]:
odd_nums = nums[0::2]
print(odd_nums)

13579

In [7]:
odd_nums_again = nums[ :: 2]

In [11]:
first_name = 'DHAIRYA'
last_name = 'KAPOOR'

In [12]:
name = first_name + " " + last_name

In [13]:
print(name)

DHAIRYA KAPOOR

In [14]:
name = first_name + " " + last_name + " pvt ltd"
print(name)

DHAIRYA KAPOOR pvt ltd

In [16]:
# Multi Line Comments
first_name.capitalize()

'Dhairya'

In [17]:
age = 23
print("I am " + str(age) + " years old")

I am 23 years old

In [18]:
my_age = "I am {0} years old".format(age)
print(my_age)

I am 23 years old

In [19]:
X = "Data"
Y = "Analytics"
Z = "Numpy"

print("{0} {1} using {2}".format(X, Y, Z) )

Data Analytics using Numpy

In [20]:
# Concatenate and update
name += ' ' + my_age

In [21]:
print(name)

DHAIRYA KAPOOR pvt ltd I am 23 years old

In [22]:
x = "he"
y = "hello"
x in y

True