In [1]:
first = [30, "Subject", 2.0]
print(first[0])

30

In [2]:
type(first)

list

In [3]:
city = ['Delhi', 292222, 2.2]
print(city)

['Delhi', 292222, 2.2]

In [4]:
new = city
print(new)

['Delhi', 292222, 2.2]

In [8]:
# will throw error
city[1] = 1.22233

TypeError: 'float' object does not support item assignment

In [13]:
city = ['Delhi', 22.322222, 2]
b = city[:-2]
print(b)
print(len(b))

['Delhi']
1

In [14]:
new1 = 123, 321, 'hello!'
print(new1)

(123, 321, 'hello!')

In [15]:
type(new1)

tuple

In [16]:
new2 = new1, (1, 2, 3, 9)
print(new2)

((123, 321, 'hello!'), (1, 2, 3, 9))

In [19]:
new2[1]

(1, 2, 3, 9)

In [20]:
type(new2[1])

tuple

In [21]:
new2[2]

IndexError: tuple index out of range

In [22]:
var1 = ([1, 2], [3, 9])

In [23]:
var1[0] = 2

TypeError: 'tuple' object does not support item assignment

In [24]:
var1[0][0] = 2

In [25]:
var1

([2, 2], [3, 9])

In [26]:
c = list(var1)
print("c is: {0}".format(c))

c is: [[2, 2], [3, 9]]

In [27]:
c = tuple(c)

In [29]:
print("c is now tuple {0}".format(c))

c is now tuple ([2, 2], [3, 9])